.contenedor {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.contenedorTabla {
  width: 100%;
  margin-top: 20px;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  overflow: auto;
  height: 500px;
  min-width: 50%;
  max-height: 100%;
  align-items: start;
}

.tabla {
  width: 900%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}
.tr {
  min-width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  border-bottom: 1px solid black;
}
th {
  background-color: #3d0000;
  width: 16%;
  height: 50px;
  padding-top: 17px;
  text-align: center;
}
td {
  background-color: black;
  width: 16%;
  padding-top: 17px;
  text-align: center;
  border-bottom: 1px solid #3d0000;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 180px;
  min-height: 100px;
}
.mensaje {
  justify-content: center;
  display: flex;
  width: 80%;
  text-align: center;
  margin: auto;
  margin-top: 100px;
}
.imagenCarrito {
  height: 150px;
  width: 200px;
}
.cantidad {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 8px;
  padding-right: 8px;
}
.resta,
.suma,
.eliminar {
  background-color: #000;
  color: #3d0000;
  border: #000 0px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  width: 50px;
}
.eliminar :hover {
  color: #fff;
}
.resta:hover {
  color: #fff;
}
.suma:hover {
  color: #fff;
}
.contenedorBotonesCompra {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  width: 100%;
  margin-top: 50px;
}
.seguirComprando {
  background-color: #0000;
  display: flex;
  color: #fff;
  border: 1px solid #3d0000;
  margin-right: 10px;
}
.seguirComprando > a {
  color: #fff;
  text-decoration: none;
  width: 200px;
  height: 40px;
  padding-top: 12px;
  transition: 1s;
}
.seguirComprando :hover {
  color: #3d0000;
  box-shadow: -2px -2px 40px 2px #3d0000;
}
.comprar {
  color: #fff;
  text-decoration: none;
  width: 150px;
  height: 40px;
  padding-top: 12px;
  padding-left: 47px;
  background-color: #0000;
  display: flex;
  border: 1px solid #3d0000;
  transition: 1s;
}
.divcomprar :hover {
  color: #3d0000;
  box-shadow: -2px -2px 40px 2px #3d0000;
}
.total {
  color: #fff;
  justify-content: right;
  padding-top: 8px;
  padding-left: 47px;
  display: flex;
  position: relative;
}
