.contenedorCarga {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.spamTitulo {
  color: white;
}
.titulo {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 62px;
  color: #3d0000;
  margin-top: 50px;
}
